.rightBar {
    height: calc(100vh - 67px);
    overflow: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
  // padding: 20px;
  .right-container {
      margin: 20px 20px 20px 0;
      display: flex;
      flex-direction: column;
      gap: 20px;

  }
  .title {
    color: gray;
    display: block;
    margin-bottom: 15px;
  }
  .r-piece {
    background-color: white;
    padding: 20px;
    box-shadow: 1px 2px 10px 1px #b3b0b08c;
    img {
      //   width: 40px;
      height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 5px;
    min-width: 30px;
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .suggestions {
    .once {
      display: flex;
      align-items: center;
      gap: 10px;
      a {
        flex: 1;
        min-width: 46px;
        text-align: left;
      }
      button {
        color: white;
        padding: 5px;
        font-weight: 700;
        border: none;
      }
      .follow {
        background-color: #5271ff;
        &.alreadyFollowed {
          background-color: gray;

        }
      }
      .dismiss {
        background-color: #f0544f;
      }
    }
  }
  .activities {
    .content {
      .once {
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: space-between;
        span {
          color: gray;
        }
        .subject {
          width: 105px;
          b {
            display: block;
            font-weight: 500;
          }
        }
        .time {
          width: 40px;
        }
      }
    }
  }
  .online {
    .piece {
      display: flex;
      align-items: center;
      gap: 15px;
      .image {

          position: relative;
          display: flex;
          img {
            width: 40px;
          }
          &::before {
            content: "";
            content: "";
            position: absolute;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background: #32cd32;
            top: -1px;
            right: 4px;
            z-index: 5555;
          }
      }
      span {
      }
    }
  }
}
