
@mixin for-phone-only {
  @media (max-width: 575.98px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (max-width: 767.98px) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media (max-width: 991.98px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (max-width: 1199.98px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (max-width: 1399.98px) {
    @content;
  }
}
.navBar {
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 0.5px solid lightgray;
  gap: 20px;
  position: sticky;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 999;
  h1 {
    color: #00008b;
    font-size: 20px;
  }
  & > svg {
  }
  .input {
    flex: 1;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 5px;
    gap: 10px;
    svg {
      //   margin-right: 10px;
      //     @include for-phone-only {
      //       flex: 1;
      //    }
    }
    @include for-phone-only {
      flex:0;
    }
    input {
      flex: 1;
      display: flex;
      align-items: center;
      border: none;
      background: inherit;

      @include for-phone-only {
        display: none;
        flex:0;

      }
    }
  }
  .right {
    display: flex;
    align-items: center;
    gap: 20px;

    .user {
      display: flex;
      align-items: center;
      gap: 5px;
      @include for-tablet-landscape-up {
        display: none;
      }
      img {
        width: 35px;
        height: 35px;
        object-fit: cover;
        border-radius: 50%;
      }
      span {
      }
    }
    @include for-phone-only {
      display: none;
    }
  }
}
